@import "reset" ;
@import "grid" ;
@import "fonts" ;

body {
	font-family: "Georgia" ;
	background-color: #f9f9f9 ;
	color: #111 ;

}

.header {
	h3 {
		font-family: "Helvetica Neue", Helvetica, Arial ;
		font-size: 13px ;
		padding-left: 8px ;
		a {
			color: #777 ;
			text-decoration: none ;
			&:hover {
				color: #000 ;
			}
		}
	}
}

h1 {
	margin-bottom: 1em  ;
	margin-top: 63px ;
	font-family: "Helvetica Neue", Helvetica, Arial ;
	font-size: 1.5em ;

	a {
		color: #111 ;
		text-decoration: none ;
		&:hover {
			color: #000 ;
		}
	}
}

h2 {
	margin-bottom: 1em ;
	margin-top: 60px ;
	font-family: "Helvetica Neue", Helvetica, Arial ;
	font-size: 24px ;

	&:first-child {
		padding-top: 0 ;
	}
}

.container {
	margin: 0 0 0 40px ;
}

.posts {
	margin-left: 60px ;
	line-height: 30px ;
	font-size: 18px ;
	padding-bottom: 120px ;

	p, blockquote {
		a {
			color: #147 ;
		}
	}

	p {
		margin-bottom: 30px ;
		color: #444 ;
	}

	img {
		max-width: 100% ;
		position: relative ;
	}

	pre {
		font-size: 13px ;
		line-hegith: 20px ;
		color: #444 ;
		margin-bottom: 2em ;
	}
}

.comment-v2-left,
.comment-v2-right {
	position: relative ;
	top: -10px ;
	margin-top: 20px ;

	img.avatar {
		position: absolute ;
		top: 0 ;
		width: 45px ;
		height: 45px ;
	}

	span, div.comment-inner {
		box-sizing: border-box ;
		display: inline-block ;
		width: 575px ;
		padding: 10px 20px 5px 20px ;
		border-radius: 1px ;

		p {
			margin-bottom: 15px ;
			line-height: 30px ;
			color: #262626 ;
		}

		p.name {
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif ;
			font-weight: bold ;
			font-size: 16px ;
			margin-bottom: 0 ;

			a {
				text-decoration: none ;
				color: #111 ;
			}

			a.logout {
				color: #147 ;
				font-size: 13px ;
			}
		}

		blockquote {
			padding-left: 18px ;
			border-left: 2px solid #aaa ;

			p {
				color: #666 ;
			}
		}
	}
}

.comment-v2-left {
	padding-left: 65px ;

	img.avatar {
		left: 0 ;
	}

	span, div.comment-inner {
		background-color: #ddd ;

		&:before {
			content: '' ;
			-webkit-transform: rotate(45deg);
			background-color: #ddd ;
			position: absolute ;
			top: 10px ;
			left: 58px ;
			width: 20px ;
			height: 20px ;
			z-index: -1;
		}
	}
}

.comment-v2-right {
	padding-right: 65px ;

	img.avatar {
		right: 0 ;
	}

	span {
		background-color: #d2d2d2 ;

		&:before {
			content: '' ;
			-webkit-transform: rotate(45deg);
			background-color: #d2d2d2 ;
			position: absolute ;
			top: 10px ;
			right: 0px ;
			margin-right: 58px ;
			width: 20px ;
			height: 20px ;
			z-index: -1;
		}
	}
}

.previous-days,
.next-days {
	padding-bottom: 120px ;

	h2 {
		border: 1px solid #ccc ;
		border-radius: 3px ;
		width: 30px ;
		font-family: Arial ;
		font-size: 12px ;
		text-align: center ;
		line-height: 12px ;
		padding: 9px 0 ;
		color: #999 ;
		display: none ;
	}

	ul {
		margin-top: 67px ;
		font-family: "Helvetica Neue", Helvetica, Arial ;
		font-size: 13px ;
		line-height: 20px ;

		& > li {
			border-top: 1px solid #ccc ;
			margin-top: 1em ;
			padding-top: 5px;
		}

		a {
			color: #777 ;
			text-decoration: none ;
			font-weight: bold ;
		}

		li > ul {
			margin: 0 ;
		}

		li > ul > li {
			color: #999 ;
			margin-bottom: 0 ;
			display: inline ;
			border-top: none ;

			a {
				color: #999 ;
				font-weight: normal ;

				&:hover {
					color: #666 ;
				}
			}
		}

		ul li + li::before {
		    content: "\b7\a0";
		}
	}
}

.previous-days {
	margin-left: 20px ;
}

.next-days {
	margin-left: 60px ;
}

form {
	textarea {
		border: none ;
		background-color: transparent ;
		background-image: url('/images/textarea-dotted-line.png') ;
		background-repeat: repeat-y ;
		background-position: 0 21px ;
		background-attachment: local;
		width: 100% ;
		font-family: Georgia ;
		color: #262626 ;
		font-size: 18px ;
		line-height: 30px ;
		height: 120px ;
		resize: none;
	}

	input[type=submit] {
		background-color: #147 ;
		border: none ;
		border-radius: 3px ;
		color: #fff ;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif ;
		font-weight: bold ;
		font-size: 16px ;
		padding: 6px 20px 7px 20px ;
		margin: 10px 0 15px 0 ;

		&:hover {
			background-color: #262626 ;
			cursor: pointer ;
		}
	}
}